#tooltip {
  position: absolute;
  font-size: 12px;
  background-color: lightsteelblue;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 2px 2px 10px;
}

#title {
  font-size: 24px;
}

#subtitle {
  font-size: 18px;
}

.dot {
  stroke: black;
  fill-opacity: 0.8;
  stroke-opacity: 0.5;
}

.legend {
  font-size: 10px;
}
